# Folders to ignore
/[Bb]in/
/[Bb]in-[Oo]bj/
/[Pp]roject[Ff]iles/

# Visual Studio cache directory
.vs/

# Files to ignore
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
*.sln

/DetectiveGameFMOD/.cache/*
/DetectiveGameFMOD/.usesr/*
/DetectiveGameFMOD/.unsaved/*
/Assets/FMOD/Banks/**/*.bank